
.container {
    align-content: center;
    background-color: white;
    opacity: 0.9;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 10px;
    font-style: italic;
    border-color: steelblue;
    border-style: outset;
    border-width: 10px;
}

.header {
    text-align: center;
}

.h2 {
    justify-content: center;
}