.navbar {
    position: sticky;
    background-color: firebrick ;
    vertical-align: auto;
    height: 0.5%;
    opacity: 1;
    border-color: steelblue;
    border-style: outset;
    border-width: 3px;
}

.navbar li {
    display: inline-block;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-weight: bold;

}

.itemLeft {
    width: 40%;
    font-size: 32px;
    /* padding-left: 5px; */
}

.itemCenter {
    font-size: 20px;
    width: 30%;
}

.itemRight {
    width: 30%;
    font-size: 20px;
}
